.container-header {
  display: flex;
  width: 100%;
  display: flex;
  margin-top: 10px;
  background-color: #1E1E1E;
  padding: 4px;
  justify-content: space-evenly;
  align-items: center;
}

.container-header img {
  height: 50px;
}

.container-header * {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
